<div class="center">
    <div class="container">
        <h1>TODOS</h1>
        
        <!-- Tabs -->
        <div>
            <button>Incomplete</button>
            <button>Complete</button>
        </div>
        
        <div class="task">
            <%= form_with model: @task, local: true do |form| %>
                <div>
                    <%= form.label :title, 'Enter Task', style: 'color: rgb(255, 255, 255);' %>
                    <%= form.text_field :title %>
                    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: 'Select a category' %>
                    <%= form.submit 'Create Task' %>
                </div>
            <% end %> <!-- ปิดแท็กฟอร์มที่นี่ -->
        </div>

        <ul>
            <% @tasks.each do |task| %>
                <li>
                    <%= content_tag(:span, task.title, style: 'color: rgb(255, 255, 255);') %>
                    <%= link_to '⭕', complete_task_path(task), method: :patch %>
                    <%= link_to '❌', task_path(task), method: :delete, class: 'task-button' %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
